<%  # Hack to allow me to use same view for both List and Detail pages. There is a better way to do this.
    unless @content_block
        @content_block = content
    end
%>
<article id="post-19" class="post-19 post type-post status-publish format-standard hentry category-uncategorized tag-boat tag-lake">
  <header class="entry-header">

    <h1 class="entry-title"><%= link_to(show(:name), @content_block.path) %></h1>

    <div class="entry-meta">
      <span class="posted-on">Posted on <time class="entry-date published" datetime="<%= @content_block.release_date %>"><%= show :release_date %></time>
      </span><span class="byline"> by <span class="author vcard"><%= @content_block.created_by.full_name %></span></span></div>
  </header>

  <div class="entry-content">
    <%= show :body %>
  </div>

  <footer class="entry-meta-bottom">

  </footer>
</article>
<%= @content_block = nil %>
