<!DOCTYPE html>
<html lang="en-US">
<%= render 'partials/head' %>


<body class="home blog custom-background">
<div id="wrapper-one">
<div id="wrapper-two">
<div id="wrapper-three">
<div id="page" class="hfeed site">
<div class="header-social">
  <div class="responsive-container">
  </div>
</div>

<%= render 'partials/header' %>

<div id="feature" class="site-slider">
  <div class="responsive-container">
    <%= container :slider %>
  </div>
  <!-- #Responsive-Container -->

</div>
<!-- #banner -->
<div id="main" class="site-main">

<div class="responsive-container">

  <div class="content-container">

    <div class="biz0ne">

      <div class="biz0ne-welcome">
        <%= container :welcome %>
      </div>
      <!-- .biz0ne-welcome -->

      <div class="biz0ne-products-services">

        <div class="biz0ne-products-services-item">

          <div class="biz0ne-products-services-img">

            <a href="#">
              <img class="" src="http://wp-themes.com/wp-content/themes/alexandria/images/fetimg2.png"/>
            </a>

          </div>
          <!-- .biz0ne-products-services-img -->

          <div class="biz0ne-products-services-name">
            <a href="#">
              Design
            </a>
          </div>
          <!-- .biz0ne-products-services-name -->

          <div class="biz0ne-products-services-description">
            You can change this text in description box of left section block in Biz two tab of theme options page.
          </div>
          <!-- .biz0ne-products-services-description -->

        </div>
        <!-- .biz0ne-products-services-item -->

        <div class="biz0ne-products-services-item">

          <div class="biz0ne-products-services-img">
            <a href="#">
              <img class="" src="http://wp-themes.com/wp-content/themes/alexandria/images/fetimg2.png"/> </a>
          </div>
          <!-- .biz0ne-products-services-img -->

          <div class="biz0ne-products-services-name">
            <a href="#">
              Development </a>
          </div>
          <!-- .biz0ne-products-services-name -->

          <div class="biz0ne-products-services-description">
            You can change this text in description box of center section block in Biz two tab of theme options page.
          </div>
          <!-- .biz0ne-products-services-description -->

        </div>
        <!-- .biz0ne-products-services-item -->

        <div class="biz0ne-products-services-item">

          <div class="biz0ne-products-services-img">
            <a href="#">
              <img class="" src="http://wp-themes.com/wp-content/themes/alexandria/images/fetimg2.png"/> </a>
          </div>
          <!-- .biz0ne-products-services-img -->

          <div class="biz0ne-products-services-name">
            <a href="#">
              Marketing </a>
          </div>
          <!-- .biz0ne-products-services-name -->

          <div class="biz0ne-products-services-description">
            You can change this text in description box of right section block in Biz two tab of theme options page.
          </div>
          <!-- .biz0ne-products-services-description -->

        </div>
        <!-- .biz0ne-products-services-item -->

      </div>
      <!-- .biz0ne-products-services -->

      <div class="biz0ne-quote">

        <div class="biz0ne-quote-text">

          <p>
            You can change this text in quote box of quote section block in Biz two tab of theme options page. You can
            change this text in quote box of quote section block in Biz two tab of theme options page. </p>

        </div>
        <!-- .biz0ne-quote-text -->

        <p class="biz0ne-quote-name">
            
                <span>
                    Mac Taylor                </span>
        </p>

      </div>
      <!-- .biz0ne-quote -->

    </div>
    <!-- .biz0ne -->

    <div class="biz0ne">

      <div id="primary" class="content-area">
        <div id="content" class="site-content" role="main">
          <%= container :posts %>
        </div>
        <!-- #content -->
      </div>
      <!-- #primary -->

      <div id="secondary" class="widget-area" role="complementary">
        <aside id="search-3" class="widget widget_search">
          <form role="search" method="get" class="search-form" action="http://wp-themes.com/">
            <label>
              <span class="screen-reader-text">Search for:</span>
              <input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" title="Search for:">
            </label>
            <input type="submit" class="search-submit" value="Search">
          </form>
        </aside>
        <aside id="recent-posts-3" class="widget widget_recent_entries"><h1 class="widget-title">Recent Posts</h1>
          <ul>
            <li>
              <a href="http://wp-themes.com/?p=19">Worth A Thousand Words</a>
            </li>
            <li>
              <a href="http://wp-themes.com/?p=36">Elements</a>
            </li>
            <li>
              <a href="http://wp-themes.com/?p=14">More Tags</a>
            </li>
            <li>
              <a href="http://wp-themes.com/?p=8">HTML</a>
            </li>
            <li>
              <a href="http://wp-themes.com/?p=6">Links</a>
            </li>
          </ul>
        </aside>
        <aside id="recent-comments-3" class="widget widget_recent_comments">
          <h1 class="widget-title">Recent Comments</h1>
          <ul id="recentcomments">
            <li class="recentcomments">
              <a href='http://josephscott.org/' rel='external nofollow' class='url'>Joseph Scott</a>
              on <a href="http://wp-themes.com/?p=1&#038;cpage=1#comment-509">Hello world!</a></li>
            <li class="recentcomments">
              <a href='http://joseph.randomnetworks.com/' rel='external nofollow' class='url'>Joseph Scott</a> on
              <a href="http://wp-themes.com/?p=8&#038;cpage=1#comment-2">HTML</a></li>
            <li class="recentcomments">
              <a href='http://wordpress.org/' rel='external nofollow' class='url'>Mr WordPress</a> on
              <a href="http://wp-themes.com/?p=1&#038;cpage=1#comment-1">Hello world!</a></li>
          </ul>
        </aside>
        <aside id="archives-3" class="widget widget_archive"><h1 class="widget-title">Archives</h1>
          <ul>
            <li><a href='http://wp-themes.com/?m=200810'>October 2008</a></li>
            <li><a href='http://wp-themes.com/?m=200809'>September 2008</a></li>
            <li><a href='http://wp-themes.com/?m=200806'>June 2008</a></li>
          </ul>
        </aside>
        <aside id="categories-3" class="widget widget_categories"><h1 class="widget-title">Categories</h1>
          <ul>
            <li class="cat-item cat-item-6">
              <a href="http://wp-themes.com/?cat=6" title="View all posts filed under First Child Category">First Child
                Category</a>
            </li>
            <li class="cat-item cat-item-8">
              <a href="http://wp-themes.com/?cat=8" title="View all posts filed under One Grandchild Category">One
                Grandchild
                Category</a>
            </li>
            <li class="cat-item cat-item-5">
              <a href="http://wp-themes.com/?cat=5" title="View all posts filed under Parent">Parent</a>
            </li>
            <li class="cat-item cat-item-7">
              <a href="http://wp-themes.com/?cat=7" title="View all posts filed under Second Child Category">Second
                Child
                Category</a>
            </li>
            <li class="cat-item cat-item-1">
              <a href="http://wp-themes.com/?cat=1" title="View all posts filed under Uncategorized">Uncategorized</a>
            </li>
          </ul>
        </aside>
      </div>
      <!-- #secondary -->

    </div>
    <!-- .biz0ne -->


  </div>
  <!-- .content-container -->

</div>
<!-- .Responsive-Container -->

</div>
<!-- #main -->

<div class="footer-social">

  <div class="responsive-container">

    <ul class="footer-social-icons">


    </ul>

  </div>
  <!-- .Responsive-Container -->

</div>
<!-- .footer-social-icons -->

<!-- Footer Starts Here -->
<footer id="colophon" class="site-footer" role="contentinfo">

  <div class="responsive-container">

    <div class="site-info">


      <h3><a href="http://wp-themes.com/">Theme Preview</a></h3>

      <p>&copy; All rights reserved.</p>

      <p>Designed by: <a href="http://www.themealley.com/" rel="designer">ThemeAlley.com</a>.</p>

      <p>Powered by
        <a href="http://wordpress.org/" title="A Semantic Personal Publishing Platform" rel="generator">WordPress</a>
      </p>

      <div class="footer-search">
        <form role="search" method="get" class="search-form" action="http://wp-themes.com/">
          <label>
            <span class="screen-reader-text">Search for:</span>
            <input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" title="Search for:">
          </label>
          <input type="submit" class="search-submit" value="Search">
        </form>
      </div>


    </div>
    <!-- .site-info -->

    <div class="footer-widget-three">

      <aside id="archives" class="widget">
        <h1 class="widget-title">Archives</h1>
        <ul>
          <li><a href='http://wp-themes.com/?m=200810'>October 2008</a></li>
          <li><a href='http://wp-themes.com/?m=200809'>September 2008</a></li>
          <li><a href='http://wp-themes.com/?m=200806'>June 2008</a></li>
        </ul>
      </aside>

    </div>

    <div class="footer-widget-three">

      <aside id="meta" class="widget">
        <h1 class="widget-title">Meta</h1>
        <ul>
          <li><a href="https://wp-themes.com/wp/wp-login.php">Log in</a></li>
        </ul>
      </aside>


    </div>

    <div class="footer-widget-three">

      <aside id="archives" class="widget">
        <h1 class="widget-title">Archives</h1>
        <ul>
          <li class="page_item page-item-2"><a href="http://wp-themes.com/?page_id=2">About</a></li>
          <li class="page_item page-item-46 page_item_has_children">
            <a href="http://wp-themes.com/?page_id=46">Parent Page</a>
            <ul class='children'>
              <li class="page_item page-item-49"><a href="http://wp-themes.com/?page_id=49">Sub-page</a></li>
            </ul>
          </li>
        </ul>
      </aside>


    </div>

  </div>
  <!-- #Responsive-Container -->

</footer>
<!-- #colophon -->    <!-- Footer ends Here -->

</div>
<!-- #page -->
</div>
<!-- #wrapper-one -->
</div>
<!-- #wrapper-two -->
</div>
<!-- #wrapper-three -->
<!--<script type='text/javascript' src='/js/general.js'></script>-->
<!--<script type='text/javascript' src='/js/skip-link-focus-fix.js'></script>-->
</body>
</html>